ul
  for subca in cate
    li
      a(href='/category/' + curcate + '/' + subca.num)= subca.name
for item in doc
  for book in item.books
    if book.bookclass == bookclass
      h1 图书信息
      div
        h2 书名
        a(href='/books/' + book._id)= book.bookname
        h2 描述
        p= book.bookdesc
        h2 分类
        p= book.bookclass + '/' + book.booksubclass
        h2 价格
        p= book.bookmoney + '元'
        h2 数量
        p= book.bookcount
