h1 修改图书
.outline
  form#photoupload(method='post', action='/fileupload')
    img#upphoto(height='50', src=book.bookimage, alt='')
    label#status 请选择文件
    input(type='file', name='photo')
    button#photosubmit(type='submit') 上传
  form(method='post', action='/books/edit')
    input(type='hidden', name='_method', value='PUT')
    input(type='hidden', name='bid', value=book._id)
    label 书名
    br
    input(name='book[bookname]', type='text', value=book.bookname)
    br
    label 描述
    br
    textarea(name='book[bookdesc]', type='text', cols='60', rows='10')= book.bookdesc
    br
    label 新旧程度
    br
    input(name='book[bookoldrate]', type='text', value= book.bookoldrate)
    span %
    br
    label 价格
    br
    input(name='book[bookmoney]', type='text', value= book.bookmoney)
    label 元
    br
    label 数量
    br
    input(name='book[bookcount]', type='text', value= book.bookcount)
    br
    label 分类
    br
    select(name='book[bookclass]', id='class')
      for item in category
        if item.name == book.bookclass
          option(value=item.name, selected='selected')= item.name
          - selected = item;
        else
          option(value=item.name)= item.name
    select(name='book[booksubclass]', id='subclass')
      for item in selected.subtag
        if item.name == book.booksubclass
          option(value=item.name, selected='selected')= item.name
        else
          option(value=item.name)= item.name
    br
    input(name='book[bookimage]', id='bookimage', type='hidden', value= book.bookimage)
    button(type='submit') 修改
