h1 图书信息
div.bookimg
  img(src=book.bookimage, width='120')
div.bookinfo
  span.bdtitle 书名:
  span.btitle= book.bookname
  div.bdltitle 描述:
  p= book.bookdesc
  .break
  span.bdtitle 分类:
  span.btitle= book.bookclass + '/' + book.booksubclass
  .break
  span.bdtitle 新旧程度:
  span.btitle= book.bookoldrate + '%'
  .break
  span.bdtitle 价格:
  span.money.btitle= book.bookmoney + '元'
  .break
  span.bdtitle 数量:
  span.btitle= book.bookcount
  .break
  //a(href='/books/' + book._id + '/edit') 修改
  div.addtocart 添加到购物车/直接购买
  div.btm
    label.btitle 数量:
    input.upmove(size='1', type='text', id='cartcount')
    button.upmove(id='addcart') 添加到购物车
  if typeof user !== 'undefined'
    form(method='post', action='/request/addone')
      input(name='cartitem[money]', id='money', type='hidden', value=book.bookmoney)
      input(name='cartitem[bid]', id='bid', type='hidden', value=book._id)
      input(name='cartitem[uid]',id='uid', type='hidden', value=uid)
      label.btitle 数量:
      input.upmove(size='1', name='cartitem[count]',type='text')
      button.upmove(type='submit') 购买
